services:
  mysql:
    image: mysql:8
    container_name: mysql_db
    restart: always
    env_file:
      - .env
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./mysql-init:/docker-entrypoint-initdb.d
    networks:
      - app_net
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 10s
      retries: 10
  backend1:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend_app_1
    restart: always
    env_file:
      - .env
    depends_on:
      mysql:
        condition: service_healthy
    ports:
      - "3001:3000" # external port 3000 to internal port 3000
    networks:
      - app_net
    volumes:

      - /app/node_modules  # 避開本機 node_modules，使用容器內安裝好的依賴
    environment:
      - HOSTNAME=backend1
      - ARTIFICIAL_DELAY=50   
    develop:
      watch:
        - action: sync
          path: ./backend/src
          target: /app/src
        - action: rebuild
          path: ./backend/package.json

  backend2:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend_app_2
    restart: always
    env_file:
      - .env
    depends_on:
      mysql:
        condition: service_healthy
    ports:
      - "3002:3000"
    networks:
      - app_net
    volumes:

      - /app/node_modules  # 避開本機 node_modules，使用容器內安裝好的依賴
    environment:
      - HOSTNAME=backend2
      - ARTIFICIAL_DELAY=50  
    develop:
      watch:
        - action: sync
          path: ./backend/src
          target: /app/src
        - action: rebuild
          path: ./backend/package.json
      

  backend3:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend_app_3
    restart: always
    env_file:
      - .env
    depends_on:
      mysql:
        condition: service_healthy
    ports:
      - "3003:3000"
    networks:
      - app_net
    volumes:
      # - ./backend:/app     # 將本機的 backend 資料夾同步到容器內的 /app
      - /app/node_modules  # 避開本機 node_modules，使用容器內安裝好的依賴
    environment:
      - HOSTNAME=backend3
      - ARTIFICIAL_DELAY=50   
    develop:
      watch:
        - action: sync
          path: ./backend/src
          target: /app/src
        - action: rebuild
          path: ./backend/package.json

  nginx:
    image: nginx:latest
    container_name: nginx_proxy
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - backend1
      - backend2
      - backend3
    networks:
      - app_net

networks:
  app_net:

volumes:
  mysql_data:
